body {
    font-family: 'Heebo', sans-serif;
    background-color: #F1F2ED;
}

h1, h2, ul, li {
    padding: 0;
    margin: 0;
}

li {
    line-height: 1.4em;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 120px;
    color: #2300d0;
    text-transform: uppercase;
}

#des157 {
    font-size: 16px;
    color: #353A47;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    color: #2300d0;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

a {
    display: block;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #353A47;
    margin-bottom: 1px;
}

a:hover {
    font-weight: 400;
    color: #272b34;
}

ul {
    list-style-type: none;
}

header {
    width: 800px;
    padding-top: 30px;
    margin: auto;
}

#banner {
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 250px;
    margin: auto;
    animation-name: gradientchangebg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#box1, #box2, #box3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 3s ease-out;
    margin: 50px;
}

#box1 {
    background-image: linear-gradient(#03b88e, #05c7f2, #2d05f2, #5204bf, #9df227);
}

#box2 {
    background-image: linear-gradient(#F205CB, #7C05F2, #6204BF, #050259, #F23827);
}

#box3 {
    background-image: linear-gradient(#710303, #df9800, #f98756, #f24c05, #bf0404);
}

#box1:hover, #box2:hover, #box3:hover {
    transform: rotate(2475deg);
    box-shadow: 0px 0px 100px #292929;
}

@keyframes gradientchangebg {
    0%   {background-image: linear-gradient(#F205CB, #7C05F2, #6204BF, #050259, #F23827);}
    25%  {background-image: linear-gradient(#F23827, #F205CB, #7C05F2, #6204BF, #050259);}
    50%  {background-image: linear-gradient(#050259, #F23827, #F205CB, #7C05F2, #6204BF);}
    75%  {background-image: linear-gradient(#6204BF, #050259, #F23827, #F205CB, #7C05F2);}
    100% {background-image: linear-gradient(#7C05F2, #6204BF, #050259, #F23827, #F205CB);}
  }

main {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-bottom: 30px;
    margin: auto;
}

#left, #middle, #right {
    box-sizing: border-box;
    background-image: linear-gradient(#e5e6e0, #F1F2ED);
    width: 250px;
    height: 500px;
    padding: 10px;
}

footer {
    font-size: 14px;
    text-align: center;
    height: 50px;
}

footer a {
    display: inline;
    padding: 5px;
}