/* Neue Machina font added*/
@font-face {
    font-family: 'neue_machinalight';
    src: url('fpfont/neuemachina-light-webfont.woff2') format('woff2'),
         url('fpfont/neuemachina-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neue_machinaregular';
    src: url('fpfont/neuemachina-regular-webfont.woff2') format('woff2'),
         url('fpfont/neuemachina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::selection {
    color: #0e0e0e;
    background: #0cd0d3;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-color: #000;
    background:url(images/bg.jpg);
    background-attachment:fixed;
    font-family: 'Nanum Gothic Coding', monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    color: #E6E6E6;
    position: relative;
    width: 100%;
    height: 100vh;
}

div, a, p, h1, h2 {
    padding: 0;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #E6E6E6;
    letter-spacing: 1px;
}

.hidden {
    visibility: hidden;
}

#portal {
    font-family: 'neue_machinalight';
    position: fixed;
    top: 30px;
    left: 30px;
}

#pagenum {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: rotate(-90deg);
}

/***************************************** planet arrangement start *****************************************/
section {
    width: 700px;
    padding-top: 150px;
    padding-bottom: 75px;
    margin: auto;
}

h1 {
    position: fixed;
    z-index: 1;
    left: 27%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'neue_machinaregular', monospace;
    font-size: 150px;
    font-weight: 400;
    letter-spacing: -4px;
    text-shadow: 1px 1px 30px #000;
}

@keyframes spin{
    100%{background-position:100%;}
}

.planet {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-shadow: -60px -60px 65px 2px #000 inset, 2px 2px 150px 2px rgb(21, 21, 21) inset, 0px 0px 70px rgb(38, 38, 38);
    margin-bottom: 100px;
}

.maindisplay {
    animation: spin 15s linear infinite;
}

#sagrad {
    background-image:url(images/sagrad.jpg);
    background-size: cover;
}

#beabody {
    background-image:url(images/beabody.jpg);
    background-size: cover;
}

#realiti {
    background-image:url(images/realiti.jpg);
    background-size: cover;
}

#idoru {
    background-image:url(images/idoru.jpg);
    background-size: cover;
}
/***************************************** end of planet arrangement *****************************************/

/***************************************** album info start *****************************************/
#albuminfo {
    display: flex;
    flex-direction: column;
    width: 380px;
    position: fixed;
    right: -3%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}

h2 {
    width: 100%;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 42px;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 0;
}

h3 {
    font-family: 'neue_machinalight';
    font-size: 12px;
    color: #808080;
    letter-spacing: 2px;
    padding-bottom: 15px;
    margin: 0;
}

#albumdes {
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

#heart {
    width: 50px;
    margin: auto;
}

#albumcover {
    display: block;
    width: 170px;
    height: 170px;
    padding-top: 30px;
    margin: auto;
}

#music {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    margin: auto;
}

#play, #pause {
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 20px;
}


/***************************************** end of album info *****************************************/

#validate {
    position: fixed;
    bottom: 30px;
    left: 30px;
}