/* Neue Machina font added*/
@font-face {
    font-family: 'neue_machinalight';
    src: url('fpfont/neuemachina-light-webfont.woff2') format('woff2'),
         url('fpfont/neuemachina-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neue_machinaregular';
    src: url('fpfont/neuemachina-regular-webfont.woff2') format('woff2'),
         url('fpfont/neuemachina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::selection {
    color: #0e0e0e;
    background: #0cd0d3;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-color: #000;
    background:url(images/bg.jpg);
    font-family: 'Nanum Gothic Coding', monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    color: #E6E6E6;
    position: relative;
    width: 100%;
    height: 100vh;
}

div, a, p, h1, h2 {
    padding: 0;
}

p {
    margin-top: 0;
}

h1 {
    position: fixed;
    z-index: 1;
    left: 27%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'neue_machinaregular', monospace;
    font-size: 150px;
    font-weight: 400;
    letter-spacing: -4px;
    text-shadow: 1px 1px 30px #000;
}

a {
    text-decoration: none;
    color: #E6E6E6;
    letter-spacing: 1px;
}

span {
    font-family: 'neue_machinaregular', monospace;
}

/* planet arrangement start */
section {
    width: 700px;
    padding-top: 150px;
    padding-bottom: 50px;
    margin: auto;
}

@keyframes spin{
    100%{background-position:100%;}
}

.planet {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-shadow: -60px -60px 65px 2px #000 inset, 2px 2px 150px 2px rgb(21, 21, 21) inset, 0px 0px 70px rgb(38, 38, 38);
    margin-bottom: 100px;
}

.maindisplay {
    animation: spin 30s linear infinite;
}

#sagrad {
    background-image:url(images/planets/beabody.jpg);
    background-size: cover;
}

#beabody {
    background-image:url(images/planets/sagrad.jpg);
    background-size: cover;
}

#realiti {
    background-image:url(images/planets/realiti.jpg);
    background-size: cover;
}

#idoru {
    background-image:url(images/planets/idoru.jpg);
    background-size: cover;
}

.hidden {
    visibility: hidden;
}
/* end of planet arrangement */

/* album info start */
#albuminfo {
    display: flex;
    flex-direction: column;
    width: 380px;
    position: fixed;
    right: -60px;
    top: 30%;
    transform: translate(-50%, -50%);
}

h2 {
    width: 100%;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 42px;
    font-weight: 400;
    padding-bottom: 13px;
    margin-bottom: 0;
}

#albumdes {
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

#year {
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    text-align: right;
}
/* end of album info */

/* music section start */
#music {
    display: flex;
    flex: row;
    justify-content: space-between;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#album4 {
    display: block;
    width: 120px;
    height: 120px;
}

#play, #pause {
    display: block;
    background-color: #E6E6E6;
    width: 50px;
    height: 50px;
}
/* end of music section */

#pagenum {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: rotate(-90deg);
}

#portal {
    font-family: 'neue_machinalight';
    position: fixed;
    top: 30px;
    left: 30px;
}

#soundtrack {
    position: fixed;
    top: 30px;
    right: 30px;
}

#validate {
    position: fixed;
    bottom: 30px;
    left: 30px;
}